<aside id="sidebar" class="sidebar" th:each="subject : ${subjects}">
    <br>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/home/cc">
                <i class="bi bi-bar-chart"></i>
                <span>DASHBOARD</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/account">
                <i class="bi bi-list"></i><span>Account Manager</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/subject/listSubjects/{userId}(userId=${userId})}">
                <i class="bi bi-list"></i><span>Manage Subject</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Manage Chapter</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                   <a th:href="@{/chapters/addChapter/{subjectId}(subjectId = ${subject.subjectId})}">Thêm chapter</a>
                </li>

            </ul>
        </li><!-- End Tables Nav -->

    </ul>




</aside><!-- End Sidebar-->