<aside id="sidebar" class="sidebar">
    <br>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/home/cc">
                <i class="bi bi-bar-chart"></i>
                <span>DASHBOARD</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/account">
                <i class="bi bi-list"></i><span>Account Manager</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-list"></i><span>Manage Subject</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-list"></i><span>Manage Chapter</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-list"></i><span>Manage Chapter</span><i class="bi"></i>
            </a>
        </li>
    </ul>




</aside><!-- End Sidebar-->