<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Chapter</title>
</head>
<body>
<h2>Add Chapter</h2>

<!-- Form để thêm mới chapter
 -->

<form th:action="@{/chapters/addChapter}" method="post">
    <input type="hidden" id="subjectId" name="subjectId" th:value="${subjectId}">

    <label for="chapterName">Chapter Name:</label>
    <input type="text" id="chapterName" name="chapterName" th:value="${chapterName}"required>
    <label for="totalQuestion">Total Question</label>
    <input type="number" id="totalQuestion" name="totalQuestion" th:value="${totalQuestion}">
    <button type="submit">Add Chapter</button>
</form>

<br>
<a href="/">Back to Subject List</a>
</body>
</html>
