<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/css/style_1.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/css/style_2.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <title>Đăng Kí</title>
</head>

<body>

<div id="wrapper">
  <form th:action="@{/FAcademy/changePassword}" method="post"  id="form-login">
    <h1 class="form-heading">Đổi Mật Khẩu</h1>
    <div th:if="${message}">
      <!-- Hiển thị thông điệp -->
      <div class="alert alert-success" role="alert" th:text="${message}"></div>
    </div>
    <div class="form-group">
      <i class="far fa-envelope"></i>
      <input type="text" class="form-input" placeholder="Your Email" th:value="${account.email}" name="email">
    </div>
    <div class="form-group">
      <i class="fas fa-key"></i>
      <input type="password" class="form-input" placeholder="New Password" name="newPass"  >
      <div id="eye">
        <i class="far fa-eye"></i>
      </div>
    </div>
    <div class="form-group">
      <i class="fas fa-key"></i>
      <input type="password" class="form-input" placeholder="Repeat your new Password" name="renewPass">
      <div id="eye">
        <i class="far fa-eye"></i>
      </div>
      <div th:if="${param.checkpass}">
        <div style="color: red; text-align: center;" class="alert alert-info">  You password and checkpass not same! Please checkout it!</div>
      </div>
    </div>
    <input type="submit" value="Đổi Mat Khau" class="form-submit">
    <p style="color: red; text-align: center;" th:text="${error}"></p>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const passwordFields = document.querySelectorAll("input[type='password']");
    const togglePasswords = document.querySelectorAll("#eye");

    togglePasswords.forEach(function(togglePassword, index) {
      togglePassword.addEventListener("click", function() {
        const passwordField = passwordFields[index];
        const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
        passwordField.setAttribute("type", type);
        this.querySelector("i").classList.toggle("fa-eye");
        this.querySelector("i").classList.toggle("fa-eye-slash");
      });
    });
  });
</script>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/assets/js/app.js.js"></script>
</html>