<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Topic</title>
</head>
<body>
<h2>Create New Topic</h2>

<form th:action="@{/listTopics/addTopic}" method="post">
    <input type="hidden" id="chapterId" name="chapterId" th:value="${chapterId}">
    <label for="topicName">Topic Name:</label><br>
    <input type="text" id="topicName" name="topicName" th:value="${topicName}" required><br>

    <label for="duration">Duration:</label><br>
    <input type="number" id="duration" name="duration" th:value="${duration}" required><br>

    <label for="status">Status:</label><br>
    <input type="text" id="status" name="status" th:value="${status}" required><br>

    <label for="totalQuestion">Total Question:</label><br>
    <input type="number" id="totalQuestion" name="totalQuestion" th:value="${totalQuestion}" required><br>
    <div th:if="${error!=null}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <input type="submit" value="Create Topic">
</form>

</body>
</html>
