<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Question</title>
</head>
<style>
    .multiple-context{
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <!--            <input type="hidden" name="totalQuestion" th:value="${chapterId}">-->
            <h2 class="text-center mb-5">New Question</h2>
            <!-- Modal popup -->
            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Error</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" action="/questions/createQuestionList" enctype="multipart/form-data" th:object="${questionDto}">
                <input type="hidden" id="chapterId" name="chapterId" th:value="${chapterId}"/>
                <input type="hidden" id="subjectId" name="subjectId" th:value="${subjectId}"/>
                <input type="hidden" id="topicId" name="topicId" th:value="${topicId}"/>
                <div class="form-group">
                    <label>Question Context</label>
                    <div>
                        <input class="form-control" th:field="${questionDto.questionContext}"></input>
                        <p th:if="${#fields.hasErrors('questionContext')}" th:errorclass="text-danger" th:errors="${questionDto.questionContext}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option A</label>
                    <div>
                        <input class="form-control" th:field="${questionDto.optionA}"></input>
                        <p th:if="${#fields.hasErrors('optionA')}" th:errorclass="text-danger" th:errors="${questionDto.optionA}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option B</label>
                    <div>
                        <input class="form-control" th:field="${questionDto.optionB}"></input>
                        <p th:if="${#fields.hasErrors('optionB')}" th:errorclass="text-danger" th:errors="${questionDto.optionB}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option C</label>
                    <div>
                        <input class="form-control" th:field="${questionDto.optionC}"></input>
                        <p th:if="${#fields.hasErrors('optionC')}" th:errorclass="text-danger" th:errors="${questionDto.optionC}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option D</label>
                    <div>
                        <input class="form-control" th:field="${questionDto.optionD}"></input>
                        <p th:if="${#fields.hasErrors('optionD')}" th:errorclass="text-danger" th:errors="${questionDto.optionD}"></p>
                    </div>
                </div>
                <small id="optionError" class="text-danger" style="display: none;">Please fill at least one option.</small>

                <div class="form-group">
                    <label>Browse Image</label>
                    <div>
                        <input type="file" class="form-control-file" th:field="${questionDto.image}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="hardRadio" value="hard">
                            <label class="form-check-label" for="hardRadio">Hard</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="easyRadio" value="easy">
                            <label class="form-check-label" for="easyRadio">Easy</label>
                        </div>
                    </div>
                    <small id="statusError" class="text-danger" style="display: none;">Please select one option.</small>
                </div>
                <div class="form-group">
                    <label>Đáp án</label>
                    <div>
                        <select class="form-control" name="answerId">
                            <option value="1">Đáp án A</option>
                            <option value="2">Đáp án B</option>
                            <option value="3">Đáp án C</option>
                            <option value="4">Đáp án D</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Solution</label>
                    <div>
                        <input class="form-control" th:field="${questionDto.solution}"></input>
                        <p th:if="${#fields.hasErrors('solution')}" th:errorclass="text-danger" th:errors="${questionDto.solution}">You must fill the solution</p>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>

            </form>
<!--            <form  id="questionForm" action="/questions/createQuestionList" method="post" enctype="multipart/form-data">-->


<!--                <div class="form-group">-->
<!--                    <label>Question Context</label>-->
<!--                    <div>-->
<!--                        <input class="form-control" name="questionContext"></input>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Option A</label>-->
<!--                    <div>-->
<!--                        <input class="form-control" name="optionA"></input>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Option B</label>-->
<!--                    <div>-->
<!--                        <input class="form-control" name="optionB"></input>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Option C</label>-->
<!--                    <div>-->
<!--                        <input class="form-control" name="optionC"></input>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Option D</label>-->
<!--                    <div>-->
<!--                        <input class="form-control" name="optionD"></input>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label>Browse Image</label>-->
<!--                    <div>-->
<!--                        <input type="file" class="form-control-file" name="image">-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="form-group">-->
<!--                    <label>Status</label>-->
<!--                    <div>-->
<!--                        <div class="form-check form-check-inline">-->
<!--                            <input class="form-check-input" type="radio" name="status" id="hardRadio" value="hard" checked>-->
<!--                            <label class="form-check-label" for="hardRadio">Hard</label>-->
<!--                        </div>-->
<!--                        <div class="form-check form-check-inline">-->
<!--                            <input class="form-check-input" type="radio" name="status" id="easyRadio" value="easy">-->
<!--                            <label class="form-check-label" for="easyRadio">Easy</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="form-group">-->
<!--                    <label>Solution</label>-->
<!--                    <div>-->
<!--                        <input class="form-control" name="solution"></input>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <button type="button" class="btn btn-primary">Add</button>-->

<!--            </form>-->
        </div>
        <div class="import-and-export">
            <!-- Sửa action của form này -->
            <form th:action="@{/questions/import/{subjectId}/{chapterId}/{topicId}(subjectId=${subjectId}, chapterId=${chapterId}, topicId=${topicId})}" method="post" enctype="multipart/form-data">
                <input type="file" name="file"/>
                <input type="hidden" name="chapterId" th:value="${chapterId}"/>
                <input type="hidden" id="subjectId" name="subjectId" th:value="${subjectId}"/>
                <input type="hidden" id="topicId" name="topicId" th:value="${topicId}"/>
                <input type="submit" value="Import" />
            </form>
        </div>
        <hr>

        <a href="/excel/download">Download Template Here</a>
    </div>
</div>
<script>
    document.querySelector('form').addEventListener('submit', function(event) {
        var hardRadio = document.getElementById('hardRadio');
        var easyRadio = document.getElementById('easyRadio');
        var statusError = document.getElementById('statusError');

        if (!hardRadio.checked && !easyRadio.checked) {
            event.preventDefault();
            statusError.style.display = 'block';
        } else {
            statusError.style.display = 'none';
        }
    });
    function validateAndSubmit() {
        var totalQuestionsInChapter = parseInt("${totalQuestion}");
        var maxQuestionsInChapter = parseInt("${maxQuestions}");

        // Kiểm tra nếu tổng số câu hỏi vượt quá số lượng tối đa trong chương
        if (totalQuestionsInChapter >= maxQuestionsInChapter) {
            // Hiển thị modal popup với thông báo lỗi
            $('#errorModalBody').text("Total questions added into the chapter should not exceed the limit of " + maxQuestionsInChapter);
            $('#errorModal').modal('show');
        } else {
            // Nếu hợp lệ, submit form
            document.getElementById("createForm").submit();
        }
    }

    // Hàm điều hướng người dùng về trang topic list
    function redirectToTopicList() {
        window.location.href = "http://localhost:8080/listTopics/showListTopic/";
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>