<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Edit Question</h2>
            <form action="/questions/editQuestion"  method="post" enctype="multipart/form-data">
                <input type="hidden" id="chapterId" name="chapterId" th:value="${chapterId}"/>
                <input type="hidden" id="subjectId" name="subjectId" th:value="${subjectId}"/>

                <input type="hidden" name="id" th:value="${question.questionId}">
                <div class="form-group">
                    <label>Question Context</label>
                    <div>
                        <input class="form-control" name="questionContext" th:value="${question.questionContext}" required></input>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option A</label>
                    <div>
                        <input class="form-control" name="optionA" th:value="${question.optionA}"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option B</label>
                    <div>
                        <input class="form-control" name="optionB" th:value="${question.optionB}"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option C</label>
                    <div>
                        <input class="form-control" name="optionC" th:value="${question.optionC}"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label>Option D</label>
                    <div>
                        <input class="form-control" name="optionD" th:value="${question.optionD}">
                    </div>
                </div>
                <div class="form-group" th:if="${question.image != null}">
                    <img th:src="@{'/public/images/' + ${question.image}}" width="150">
                    <a href="#" class="delete-image" onclick="deleteImage()">x</a>
                    <input type="hidden" name="deleteImage" id="deleteImage" value="false">
                </div>

                <div class="form-group">
                    <label>Browse Image</label>
                    <div>
                        <input class="form-control" type="file" name="newImage">
                    </div>
                </div>
                <div class="form-group">
                    <label>Đáp án</label>
                    <div>
                        <select class="form-control" name="answerId">
                            <option value="1">Đáp án A</option>
                            <option value="2">Đáp án B</option>
                            <option value="3">Đáp án C</option>
                            <option value="4">Đáp án D</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="hardRadio" value="hard" checked>
                            <label class="form-check-label" for="hardRadio">Hard</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="easyRadio" value="easy">
                            <label class="form-check-label" for="easyRadio">Easy</label>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label>Solution</label>
                    <div>
                        <input class="form-control" name="solution" th:value="${question.solution}" required></input>
                    </div>
                </div>
                <div class="row multiple-context">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        var hardRadio = document.getElementById('hardRadio');
        var easyRadio = document.getElementById('easyRadio');
        var statusError = document.getElementById('statusError');

        if (!hardRadio.checked && !easyRadio.checked) {
            event.preventDefault();
            statusError.style.display = 'block';
        } else {
            statusError.style.display = 'none';
        }
    });


    function deleteImage() {
        if (confirm("Are you sure you want to delete the image?")) {
            document.getElementById("deleteImage").value = "true";
            // Hide the image
            document.querySelector('.form-group img').style.display = 'none';
        }
    }


</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
