<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Topic</title>
</head>
<body>
<h1>Edit Topic</h1>
<form action="/listTopics/editTopic" method="post">

    <input type="hidden" id="topicId" name="topicId" th:value="${topic.topicId}"/>
    <input type="hidden" name="subjectId" th:value="${subjectId}"/>
    <input type="hidden" name="chapterId" th:value="${chapterId}"/>
    <label>Tên topic:</label>
    <div>
        <input class="form-control" type="text" id="topicName" name="topicName" th:value="${topic.topicName}" required/>
    </div>
    <label>Duration:</label>
    <div>
        <input class="form-control" type="number" id="duration" name="duration" th:value="${topic.duration}" required/>
    </div>
    <label>Total:</label>
    <div>
        <input class="form-control" type="number" id="totalQuestion" name="totalQuestion"
               th:value="${topic.totalQuestion}" required/>
    </div>
    <label>Status</label>
    <div>
        <select class="form-control" name="status">
            <option value="Soon">Soon</option>
            <option value="OnGoing">OnGoing</option>
            <option value="Finished">Finished</option>
        </select>
    </div>

    <label>Start Test Date:</label><br>
    <div>
        <input class="form-control" type="datetime-local" id="startTestDate" name="startTestDate"
               th:value="${topic.startTestDate}" required><br>
    </div>
    <label>Finish Test Date:</label><br>
    <div>
        <input class="form-control" type="datetime-local" id="finishTestDate" name="finishTestDate"
               th:value="${topic.finishTestDate}" required><br>
    </div>
    <div th:if="${errorMessage != null}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>
    <input type="submit" value="Save Changes"/>
</form>

<div class="container">
    <a href="/listTopics">Back to List</a>

</div>

</body>
</html>