<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Tạo khóa học</title>

    <!-- Favicons -->
    <link href="/assets/img/FPTLOGO.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
</head>

<body>

<main id="main">
    <section id="popular-courses" class="courses">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Question Database</h3>
                </div>
                <div class="col-sm-6 text-right">
                    <a th:href="@{./questionForTest}" class="btn btn-info mb-3">Back to Question List</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <nav class="custom-list">
                        <ul class="list-unstyled">
                            <th:block th:each="question, questionIndex : ${questionList}">
                                <li>
                                    <a th:href="@{'/test/showQuestionById?id=' + ${question.questionId}}">
                                        <span th:text="${question.questionContext}"></span>
                                    </a>
                                </li>
                            </th:block>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-6">
                    <div class="return-data" id="return-data">
                        <th:block th:each="question: ${question}">
                            <div th:if="${question != null}">
                                <h3>Câu hỏi: <span th:text="${question.questionContext}"></span></h3>
                                <img th:if="${question.image != null}" th:src="@{'../public/images/' + ${question.image}}" onerror='this.style.display="none"' style="max-width: 100px; max-height: 100px;">
                                <h6>Đã tạo: <span th:text="${question.formattedCreateDate}"></span></h6>
                                <input type="radio" id="optionA" name="selectedOption" value="A" th:checked="${question.solution == 'A'}">
                                <label for="optionA">Option A - <span th:text="${question.optionA}"></span></label><br>

                                <input type="radio" id="optionB" name="selectedOption" value="B" th:checked="${question.solution == 'B'}">
                                <label for="optionB">Option B - <span th:text="${question.optionB}"></span></label><br>

                                <input type="radio" id="optionC" name="selectedOption" value="C" th:checked="${question.solution == 'C'}">
                                <label for="optionC">Option C - <span th:text="${question.optionC}"></span></label><br>

                                <input type="radio" id="optionD" name="selectedOption" value="D" th:checked="${question.solution == 'D'}">
                                <label for="optionD">Option D - <span th:text="${question.optionD}"></span></label><br>

<!--                                <p>Đáp án: <span th:text="${question.solution}"></span></p>-->
                            </div>
                        </th:block>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-primary btn-block">Thêm vào test</button>
                        </div>
                        <div class="col-sm-3 offset-sm-3">
                            <button class="btn btn-danger btn-block">Xóa câu hỏi</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-secondary btn-block">Sửa câu hỏi</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>FPT ACADEMY</h3>
                    <p>
                    <ul>
                        <li> Tòa nhà FPT Complex, đường Nam Kỳ Khởi Nghĩa, Quận Ngũ Hành Sơn, TP Đà Nẵng<br></li>
                        <li> Tòa nhà FPT Massda, đường số 01, KCN An Đồn, Sơn Trà, Đà Nẵng<br>                            </li>
                    </ul>
                    <strong>Email:</strong> FA.DN@fpt.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Our Link</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Trainer</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>GIA NHẬP FPT SOFTWARE ACADEMY</h4>
                    <p>Nhập email của bạn để có thể nhận được thông báo mới nhất của chúng tôi</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>
