<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Topics</title>
    <style>
        .topic-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            cursor: pointer;
        }

        .topic-card:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<h1>List of Topics</h1>
<h3>Chapter <span th:text="${chapter.chapterName}"></span></h3>

<table border="1">
    <thead>
    <tr>
        <th>Tên test</th>
        <th>Action</th>
        <th>Status</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Tổng số câu hỏi có trong bài test</th>
        <th>Số câu hỏi khó</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topic : ${topics}">
        <td th:text="${topic.topicName}"></td>
        <td>
            <a th:href="@{/questions/createQuestionList/{subjectId}/{chapterId}/{topicId}(subjectId=${subjectId}, chapterId=${chapterId}, topicId=${topic.topicId})}">Tạo
                question</a>
            <a th:href="@{'/listTopics/editTopic?subjectId=' + ${subjectId} + '&chapterId=' + ${chapterId} + '&topicId=' + ${topic.topicId}}">Sửa
                Test</a>
            <a th:href="@{/listTopics/deleteTopic/{subjectId}/{chapterId}/{topicId}(subjectId=${subjectId}, chapterId=${chapterId}, topicId=${topic.topicId})}"
               onclick="return confirm('Are you sure you want to delete this question?')">Xóa Test</a>
        </td>
        <td><span th:text="${topic.status}"></span></a>
        </td>
        <td><span th:text="${topic.formattedStartDate}"></span></td>
        <td><span th:text="${topic.formattedFinishDate}"></span></td>
        <td th:text="${totalQuestions}"></td>
        <td th:text="${totalHardQuestions}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{'/chapters/showListChapter?subjectId=' + ${subjectId}}">Về lại Chapter List</a>

<!--@{'/chapters/showListChapter?subjectId=' + ${subject.subjectId}}-->
<script>
    document.querySelectorAll('.topic-card a').forEach(link => {
        link.addEventListener('click', function (event) {
            event.stopPropagation(); // Ngăn chặn hành vi click mặc định
            const url = this.getAttribute('href');
            window.location.href = url;
        });
    });
</script>

</body>
</html>