<!-- test.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Questions Test</title>
</head>
<body>
<h1>Random Questions Test</h1>

<form id="quizForm" action="/submitAnswers" method="post">
    <div id="questionContainer">
        <!-- Loop through each question and display -->
        <div th:each="question : ${questions}">
            <h2 th:text="${question.questionContext}"></h2>

            <img th:if="${question.image != null}" th:src="@{'/public/images/' + ${question.image}}" onerror='this.style.display="none"' style="max-width: 100px; max-height: 100px;">
            <ul>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="1" /> <span th:text="${question.optionA}"></span></li>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="2" /> <span th:text="${question.optionB}"></span></li>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="3" /> <span th:text="${question.optionC}"></span></li>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="4" /> <span th:text="${question.optionD}"></span></li>
            </ul>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>

</body>
</html>