<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Questions Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">


    <style>
        .panel-understanding-check {
            background: #f6f7fb;
            padding: 1.5rem;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        body {
            font-family: 'Roboto', sans-serif;
        }
        label.questioncontext {
            margin: 30px 0px 18px 0px;
            font-weight: bold;
        }
        label.duration {
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="col text-center">
        <h1 th:text="${topicName}"></h1>
    </div>
    <div class="col text-right">
        <div class="time">
            <label class="duration"><span id="timer"></span></label>
            <input type="hidden" id="duration" name="duration" th:value="${duration}">
        </div>
    </div>

    <div class="card panel-understanding-check">
        <div class="card-body">
            <form id="quizForm" action="/submitAnswers" method="post">
                <div id="questionContainer">
                    <div th:each="question : ${questions}">
                        <label class="questioncontext" th:text="${question.questionContext}"></label>
                        <ul>
                            <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="1" /> <span th:text="${question.optionA}"></span></li>
                            <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="2" /> <span th:text="${question.optionB}"></span></li>
                            <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="3" /> <span th:text="${question.optionC}"></span></li>
                            <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="4" /> <span th:text="${question.optionD}"></span></li>
                        </ul>
                        <input type="hidden" class="questionId" name="questionId" th:value="${question.questionId}" />
                        <input type="hidden" class="selectedAnswer" name="selectedAnswer" />
                        <input type="hidden" class="testDetailId" name="testDetailId" th:value="${testDetailId}"/>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
            <div class="pagination" id="pagination">

            </div>
        </div>
    </div>
</div>


<script>

    // document.addEventListener("DOMContentLoaded", function() {
    //     var questions = [
    //         {
    //             question: "What is the capital of France?",
    //             answers: ["Paris", "London", "Berlin", "Madrid"]
    //         },
    //         // Thêm các câu hỏi khác tương tự ở đây...
    //     ];
    //
    //     // Đảo ngẫu nhiên thứ tự các đáp án của mỗi câu hỏi
    //     questions.forEach(function(question) {
    //         question.answers.sort(function() {
    //             return 0.5 - Math.random(); // Sử dụng hàm sort với hàm so sánh ngẫu nhiên
    //         });
    //     });
    //
    //     // Hiển thị câu hỏi và các đáp án đã được đảo ngẫu nhiên
    //     var questionContainer = document.getElementById('questionContainer');
    //     questions.forEach(function(question, index) {
    //         var questionElement = document.createElement('div');
    //         questionElement.classList.add('question');
    //
    //         var questionText = document.createElement('p');
    //         questionText.textContent = "Question " + (index + 1) + ": " + question.question;
    //         questionElement.appendChild(questionText);
    //
    //         var answersList = document.createElement('ul');
    //         question.answers.forEach(function(answer, answerIndex) {
    //             var answerItem = document.createElement('li');
    //             var answerInput = document.createElement('input');
    //             answerInput.type = "radio";
    //             answerInput.name = "answer" + index;
    //             answerInput.value = answer;
    //             answerItem.appendChild(answerInput);
    //             var answerText = document.createElement('span');
    //             answerText.textContent = answer;
    //             answerItem.appendChild(answerText);
    //             answersList.appendChild(answerItem);
    //         });
    //         questionElement.appendChild(answersList);
    //
    //         questionContainer.appendChild(questionElement);
    //     });
    // });



    document.getElementById('quizForm').addEventListener('submit', function(event) {
        var selectedAnswers = [];
        var radioInputs = document.querySelectorAll('input[type="radio"]');
        var atLeastOneSelected = false;

        radioInputs.forEach(function(input) {
            if (input.checked) {
                var selectedAnswer = input.value;
                selectedAnswers.push(selectedAnswer);
                atLeastOneSelected = true;
            }
        });

        if (!atLeastOneSelected) {
            selectedAnswers.push("0");
        }

        document.querySelector('.selectedAnswer').value = selectedAnswers.join(',');
    });

    var durationInput = document.getElementById('duration');
    var timerDisplay = document.getElementById('timer');
    var quizForm = document.getElementById('quizForm');
    var radioInputs = document.querySelectorAll('input[type="radio"]');

    // Khởi tạo thời gian từ input hidden
    var duration = parseInt(durationInput.value);
    var endTime = Date.now() + duration * 1000*60;

    // Cập nhật thời gian sau mỗi giây
    var timer = setInterval(updateTimer, 1000);

    // Hàm cập nhật thời gian
    function updateTimer() {
        var now = Date.now();
        var timeLeft = Math.max(0, Math.ceil((endTime - now) / 1000));
        var minutes = Math.floor(timeLeft / 60);
        var seconds = timeLeft % 60;
        var formattedTime = ("0" + minutes).slice(-2) + ":" + ("0" + seconds).slice(-2);
        timerDisplay.textContent = formattedTime;
        if (timeLeft === 0) {
            clearInterval(timer);
            quizForm.submit();
        }
    }

    // Thêm sự kiện click cho các input radio
    radioInputs.forEach(function(input) {
        input.addEventListener('click', function() {
            var selectedAnswers = [];
            radioInputs.forEach(function(input) {
                if (input.checked) {
                    var selectedAnswer = input.value;
                    selectedAnswers.push(selectedAnswer);
                }
            });
            document.querySelector('.selectedAnswer').value = selectedAnswers.join(',');
        });
    });
</script>


</body>
</html>
