<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test for Topic</title>
</head>
<body>
<h1>Test for Topic</h1>

<form id="quizForm" action="/submitAnswers" method="post">
    <div id="questionContainer">
        <!-- Loop through each question and display -->
        <div th:each="question : ${questions}">
            <h2 th:text="${question.questionContext}"></h2>
            <ul>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="1" /> <span th:text="${question.optionA}"></span></li>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="2" /> <span th:text="${question.optionB}"></span></li>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="3" /> <span th:text="${question.optionC}"></span></li>
                <li><input type="radio" th:name="'answerId' + ${question.questionId}" value="4" /> <span th:text="${question.optionD}"></span></li>
            </ul>
            <input type="hidden" class="questionId" name="questionId" th:value="${question.questionId}" />
            <!-- Add hidden input to store selected answer -->
            <input type="hidden" class="selectedAnswer" name="selectedAnswer" />
        </div>
    </div>
    <input type="submit" value="Submit">
</form>

<script>
    document.getElementById('quizForm').addEventListener('submit', function(event) {
        // Initialize an array to store selected answers
        var selectedAnswers = [];

        // Loop through all radio inputs
        document.querySelectorAll('input[type="radio"]').forEach(function(input) {
            // Check which input is selected
            if (input.checked) {
                // Get the value of the selected input
                var selectedAnswer = input.value;
                // Push the value to selectedAnswers array
                selectedAnswers.push(selectedAnswer);
            }
        });

        // Assign all selected values to hidden input
        document.querySelector('.selectedAnswer').value = selectedAnswers.join(',');
    });

</script>

</body>
</html>
