<aside id="sidebar" class="sidebar">
    <br>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="ViewAdmin.html">
                <i class="bi bi-bar-chart"></i>
                <span>Controller</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="LinkAccount.html">
                <i class="bi bi-list"></i><span>Account </span><i class="bi"></i>
            </a>
        </li>




        <li class="nav-item">
            <a class="nav-link collapsed" href="ListSubject.html">
                <i class="bi bi-list"></i><span>Subject</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="ListQuestion.html">
                <i class="bi bi-list"></i><span>Question</span><i class="bi"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="Schedule.html">
                <i class="bi bi-list"></i><span>Schedule</span><i class="bi"></i>
            </a>
        </li>
    </ul>




</aside><!-- End Sidebar-->